@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;800&family=Work+Sans&display=swap");
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

html,
body {
  margin: 0;
  padding: 0;
  background: #05101c;
  background-color: #0b1929;
  color: white;
  font-family: "Roboto Slab", serif;
  /* Ajouter overflow-x: hidden; pour éviter tout défilement horizontal sur la page */
  overflow-x: hidden;
}

/* Styles pour contrer l'autocomplétion des navigateurs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #333 inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white !important;
  background-color: #333 !important;
}

/* Pour inverser uniquement les avatars MUI par défaut */
.image-inverted .MuiAvatar-img {
  filter: invert(1);
}

.image-inverted2 {
  filter: invert();
}

.nav-link {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}

.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
  color: white !important;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/* --- DÉBUT DES STYLES GLOBAUX POUR LA BARRE DE DÉFILEMENT --- */

/* Cible la barre de défilement pour les navigateurs basés sur WebKit */
::-webkit-scrollbar {
  width: 10px;
  /* Largeur de la barre */
  height: 10px;
}

/* Cible la piste (le fond de la barre) */
::-webkit-scrollbar-track {
  background-color: rgb(17, 29, 39);
  /* Fond sombre et discret */
}

/* Cible la poignée (la partie mobile) */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 255, 252, 0.4);
  /* Couleur d'accent, semi-transparente */
  border-radius: 5px;
  border: 2px solid rgb(17, 29, 39);
  /* Bordure pour un effet de flottement */
}

/* Style de la poignée au survol */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 255, 252, 0.7);
  /* Plus opaque au survol */
}